h2 {
  color: green;
  font-style: italic;
}
.agenda {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}
.notificacion {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.notificacion.exito {
  color: rgb(6, 131, 27); /* Verde para éxito */
  border-color: rgb(6, 131, 27);
}
.notificacion.error {
  color: red; /* Rojo para error */
  border-color: red;
}
